.mainRelativeEnchristoContainer {
    /* position: relative; */
}


.mainEnchristoContainer {
    background-color: var(--quarternery-main);
    /* height: 80vh; */
    padding-top: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainEnchristoContainer .imgPlusTitleContainer {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}

.enchristoImgContainer {
    width: 50%;
    height: 100%;
    place-items: center;
    /* position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh; */
}

.enchristoImgContainer img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    object-position: center;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.enchristoTitleContainer {
    width: 50%;
    /* background-color: #fff; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0%;
}

.enchristoTitleContainer .mainHeadingContainer {
    /* background-color: red; */
    width: 100%;
}

.enchristoTitleContainer .mainHeadingContainer h1 {
    color: var( --contrast-main);
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Anton, sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.1em;
    transition:.3s;
}

.enchristoTitleContainer .mainHeadingContainer h1:hover{
    color:var( --main-color)
    /* color: #ad4500; */
}

.enchristoTitleContainer .subHeadingContainer{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding-top: 3rem;
}

.enchristoTitleContainer .subHeadingContainer .dateText{
    color: var(--main-color);
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top:0;
    margin-bottom: 0.7rem;
    font-family: Anton, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.1em;
}

.enchristoTitleContainer .subHeadingContainer .venueText{
    color: var(--contrast-main);
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top:0;
    font-family: Anton, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.1em;
    transition: .3s;
}

.enchristoTitleContainer .subHeadingContainer .venueText:hover{
    color: var(--main-color);
}