.photoCard-Container {
    width: 25rem;
    height: 31.25rem;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    /* border-radius: 32px; */
}

.photoCard-Container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

/* .photoCard-Container img:hover {
    transform: scale(1.055);
} */

.photoCard-Container .photoHeading-Container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: var(--contrast-main);
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease;
    text-align: center;
}

.photoCard-Container:hover .photoHeading-Container {

    height: 30%;
}

.photoCard-Container .photoHeading-Container h2 {
    color: var(--bg-color);
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 3px;
    margin-bottom: 15px;
    font-family: Anton, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1em;

}

.photoCard-Container .photoHeading-Container h5 {
    color: var(--bg-color);
    letter-spacing: .7px;
    -webkit-text-stroke-color: var(--text-dark);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Anton, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

@media screen and (max-width:550px) {
    .photoCard-Container {
        width: 20rem !important;
    }
}

@media screen and (max-width:380px) {
    .photoCard-Container {
        width: 18rem !important;
    }
}