.servantsSliderContainer{
    width: 100%;
}

.servantsSliderContainer .slick-slider{
    width: 100%;
}

.servantsSliderContainer .slick-slider button{
    display: none;
}

.servantsSliderContainer .slick-slider .slick-list{
    width: 100%;
}