/*=========Body Styles===========*/

:root {
    --bg-color: #ffffff;
    --text-light: #94949d;
    --main-color: #fa6400;
    --secondary-main: #f78a42;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

*:focus {
    outline: none !important;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    background-image: radial-gradient(var(--secondary-main) 1px, transparent 1px);
    background-size: 32px 32px;
    background-color: #fef7ef;

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-main);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

/*==========Text Styles==========*/
.big-head-font {
    font-size: 56px;
}

.head-font {
    font-size: 32px;
}

.big-text-font {
    font-size: 24px;
}

.mid-text-font {
    font-size: 18px;
}

.text-font {
    font-size: 16px;
}

.sec-text-font {
    font-size: 14px;
}

@media screen and (max-width: 500px) {
    .big-text-font {
        font-size: 18px;
    }

    .big-head-font {
        font-size: 42px;
    }
}

.text-main{
    color:var(--main-color);
}
.text-secondary{
    color: var(--secondary-main);
}

.text-light {
    color: var(--text-light);
}

.text-white {
    color: var(--bg-color);
}

.fw-bold {
    font-weight: bold;
}

.text-shadow-light {
    text-shadow: 4px 6px #000000;
}

.text-shadow-mid {
    text-shadow: 6px 8px #000000;
}

.text-shadow-dark {
    text-shadow: 8px 10px #000000;
}

.text-box {
    padding: 0 10px;
    display: inline-block;
    rotate: -2deg;
    margin: 10px 0;
}

.container {
    padding: 0 76px;
}

@media screen and (max-width: 991px) {
    .container {
        padding: 0 56px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0 32px;
    }
}

@media screen and (max-width: 400px) {
    .container {
        padding: 0 16px;
    }
}


/*==========Box Shadow & Border Styles==========*/

.shadow-light {
    box-shadow: 4px 6px #000000;
}

.shadow-mid {
    box-shadow: 6px 8px #000000;
}

.shadow-dark {
    box-shadow: 8px 10px #000000;
}

.border-light {
    border: 2px solid #000000;
}

.border-mid {
    border: 4px solid #000000;
}

.border-dark {
    border: 6px solid #000000;
}

.border-white-light {
    border: 2px solid #ffffff;
}

.border-white-mid {
    border: 4px solid #ffffff;
}

.border-white-dark {
    border: 6px solid #ffffff;
}

.shadow-white-light {
    box-shadow: 4px 6px var(--bg-color);
}

.shadow-white-mid {
    box-shadow: 6px 8px var(--bg-color);
}

.shadow-white-dark {
    box-shadow: 8px 10px var(--bg-color);
}

.border-white-light {
    border: 2px solid var(--bg-color);
}

.border-white-mid {
    border: 4px solid var(--bg-color);
}

.border-white-dark {
    border: 6px solid var(--bg-color);
}

.img-shadow-white-light {
    box-shadow: 4px 6px var(--bg-color);
}

.img-shadow-white-mid {
    box-shadow: 6px 8px var(--bg-color);
}

.img-shadow-white-dark {
    box-shadow: 8px 10px var(--bg-color);
}

.img-shadow-light {
    filter: drop-shadow(4px 6px #000000);
}

.img-shadow-mid {
    filter: drop-shadow(6px 8px #000000);
}

.img-shadow-dark {
    filter: drop-shadow(8px 10px #000000);
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-50 {
    border-radius: 50px;
}

.rounded-100 {
    border-radius: 100%;
}

.bubble-top-left {
    border-radius: 0 20px 20px 20px;
}

.bubble-top-right {
    border-radius: 20px 0 20px 20px;
}

.bubble-bottom-right {
    border-radius: 20px 20px 0 20px;
}

.bubble-bottom-left {
    border-radius: 20px 20px 20px 0;
}

.dot-border-bottom {
    border-bottom: 2px dotted var(--text-light);
}

/*==========Box Shadow & Border Styles End==========*/